@page
@model VisitorRegistrationApp.Areas.Identity.Pages.Account.SignInModel
@{
}

<script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/jquery-1.9.1.min.js"></script>
<script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/html5shiv.js"></script>
<link rel="stylesheet" href="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/default_thank_you.css">
<div class="site-header" id="header">
    <h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!</h1>
</div>

<div class="main-content">
    <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
    <p class="main-content__body" data-lead-id="main-content-body">Thanks a bunch for filling our Visitor information Out. It means a lot to us, just like you do!We hope you have a wonderfull day. Don't forget to Sign Out when you leave the building please. '</p>
</div>
<script>
    setTimeout(function () {
             $.ajax({
                type: "POST",
                url: @Url.Action("CheckRedirectPage", "api/RegistrationApiController"),
                dataType: 'json',
                success: function (response) {
                    window.location.href = response.Url;
                },
                error: function () {
                }
            });

    }, 7500)

</script>

<style>
</style>