/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */

    margin-bottom: 350px;
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%,#e1e8ed 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer {
    margin-top: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

main {
    margin-top: 100px;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}

.block-island {
}

/* Self Custom
-------------------------------------------------- */
.webcam-container {
    height: 50vh;
    width: 50vw;
}


#background-container {
    height: 100vh;
    width: 100vw;
}




.app-panel {
    margin-bottom: 250px;
    margin-top: 200px;
    height: 50vh;
    width: 50vw;
    text-align: center;
}

#webcam {
    margin-bottom: 250px;
    margin-top: 200px;
    display: block;
    position: relative;
    width: 40rem;
    height: 50vh;
    z-index: 999;
    pointer-events: none;
    margin: auto;
}

.md-modal {
    margin: 0px 20px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50vh;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

.md-effect-12 .md-content {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-12 ~ .md-overlay {
    background-color: #e4f0e3;
}

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
    background: transparent;
}

.md-show.md-effect-12 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

#errorMsg {
    position: fixed;
    top: 22vh;
    left: 0;
    padding: 20px;
    z-index: 999999;
}


.cameraControls {
    position: absolute;
    bottom: 4vh;
    width: 100%;
    z-index: 99999;
    background: transparent;
    opacity: 0.7;
    padding: 10px;
}


.material-icons {
    width: 750px;
    font-size: 50px !important;
    color: white;
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    padding-top: 15px;
    margin: 0 10px;
}

.flash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999999;
}

#canvas {
    padding-top: 90px;
    margin-bottom: 250px;
    margin-top: 200px;
    background-color: transparent;
    position: absolute;
    width: 40rem;
    height: 43vh;
    z-index: 9999;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: 100px;
}

#picture-intro {
    text-align: center;
}








#ServiceForm {
    margin: 250px 0 0 0;
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 55px;
}

@media (min-width:360px) {
    h1 {
        font-size: 4.5em;
    }

    .go-home {
        margin-bottom: 20px;
    }
}

@media (min-width:600px) {
    .content {
        max-width: 1000px;
        margin: 0 auto;
    }

    .wrapper-1 {
        height: initial;
        max-width: 620px;
        margin: 0 auto;
        margin-top: 10px;
        box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
    }
}

@media screen and (max-width: 420px) {
    .form-control.webcam-start {
        width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .cameraControls {
        bottom: 10vh;
    }
}

@media screen and (min-width: 420px) and (max-width: 767px) {
    .form-control.webcam-on {
        top: 17vh;
        left: 0;
    }
}

@media screen and (min-width: 1024px) {
    .form-control.webcam-on {
        top: 16vh;
        left: 8vw;
    }
}

@media screen and (min-width: 768px) {
    #errorMsg {
        position: fixed;
        top: 32vh;
        left: 20vw;
        padding: 20px;
        z-index: 999999;
    }

    .webcam-container {
        background-attachment: fixed;
    }
}



/* Start Main Rule  CountDown Timer for Camera */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.countdown-container {
    display: flex;
}

.big-text {
    font-size: 4rem;
}

.title {
    margin: 10px;
    text-align: center;
    color: #fff;
    width: 100%;
    letter-spacing: 2px;
    font-size: 3rem;
    line-height: 5.5rem;
}

    .title span {
        display: block;
        font-size: 6rem;
        letter-spacing: 2rem;
    }

.wrapper {
    display: flex;
    justify-content: end;
}

.countdown-container > div {
    margin: 0 2rem;
    text-align: center;
    border: 2px solid #fff;
    padding: 0px 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    box-sizing: border-box;
    color: #fff;
    min-width: 150px;
}

@media (max-width:992px) {
    .countdown-container > div {
        margin: 0 1rem;
    }
}

@media (max-width:767px) {
    .countdown-container {
        flex-wrap: wrap;
    }

        .countdown-container > div {
            margin: 1rem auto;
            max-width: 150px;
        }

    .title {
        font-size: 1.5rem;
        line-height: 3.5rem;
        margin: 10px 0px;
    }

        .title span {
            font-size: 2rem;
            letter-spacing: 1rem;
        }
}
