@using Microsoft.AspNetCore.Identity
@using VisitorRegistrationApp.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VisitorNorth</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/newbootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark  " style="background-color: #2C3E50; height:10vh; ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VisitorNorth</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse " id="navbarColor02">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item text-lg-right">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white text-lg-right" asp-controller="Companies" asp-action="Index">Companies</a>
                            </li>
                            <li class="nav-item" style="margin:8px 3px 0px 0px; ">
                                <div class="dropdown show">
                                    <a class="text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Visitors
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Visitors" asp-action="SignedIn">Signed In</a>
                                        <a class="dropdown-item" asp-controller="Visitors" asp-action="SignedOut">Signed Out</a>


                                    </div>
                                </div>
                            </li>
                          
                        }
                     
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>



    </header>
    <div class="container" style="min-height:1200px">
        <main role="main" class="pb-3"  >
            @RenderBody()
        </main>
    </div>
  
    <!-- Footer -->
    <footer class="border-top footer text-center text-white" style="background-color: #0a4275; margin-top:100px;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3">Do you want to stay in touch? </span>
                    <a asp-controller="Home" asp-action="Contact" type="button" class="btn btn-outline-light btn-rounded">
                        Contact Us
                    </a>
                </p>
            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">VisitorNorth</a>
        </div>
        <!-- Copyright -->
    </footer>
     
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/capture.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
