@model VisitorRegistrationApp.Models.CompanyViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div id="detail" class="card">
    <img style="max-height:350px;" class="card-img-top" src="@Model.CompanyPhoto" alt="Nothing to see yet">

    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">Email: @Model.Description</p>
    </div>

</div>
  <div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-link">Edit</a> 
    <a asp-action="Index" class="btn btn-link">Back to List</a>
</div>
